#header {
    width: 100%;
    background-color: #87C1E2;
    color: #FFFFFF;
    height: 90px;
    position: sticky;
}

#header__container {
    padding:20px 0;
}

.header__logo {
    width: 17%;
    
}

.header__logo-1 {
    font-size: 45px;
    font-family: 400;
    font-family: 'Quicksand';
    display: block;
    text-align: end;
}

